<!doctype html>
<html>
  {% include head.html %}
  <body>
    {% include header.html %}

    <section class="hero">
      <h2 class="hero_title">
        How This All Started
      </h2>
      <div class="hero_content">
        <img src="./images/Grandma80s.jpg" class="hero_image">
        <p>
          I can't remember if I was out of college or just at the end in 1987 or 1988.  I remember that Grandma Maguire could no longer host Thanksgiving at her apartment in Amesbury, Ma, it was too much for her.  I remember suggesting to my Father and Linda that they should have it at her house and that I would be willing to go pick her up.
        </p>
        <p>
          Grandma Maguire loved Thanksgiving.  It was her favorite holday because it was a day of serving others and the familiy gathering together.  This is a picture of her when she was in her 80s, she was born in 1906 and passed away in 1998.
        </p>
        <p>
          Grandma and I put together a menu from her recipes, Gourmet, and my cookbooks.  The only thing I definitely remember us making was a deboned turkey from my Cajun cookbook, her Turkey soup that we made from the carcass, and the orange and cranberry relish that my Aunt Emogene liked so well.  After that it just became a tradition and grew into what you see below.
        </p>  
      </div>
    </section>

    <div class="grid_container">
      <div>
        <h3>Thanksgiving 1994</h3>
        <a href="menu-details"><img src="./images/1994_Menu.png"></a>
      </div>
      <div>
        <h3>Thanksgiving 1997</h3>
        <img src="./images/1997_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 1999</h3>
        <img src="./images/1999_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2000</h3>
        <img src="./images/2000_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2004</h3>
        <img src="./images/2004_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2005</h3>
        <img src="./images/2005_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2006</h3>
        <img src="./images/2006_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2007</h3>
        <img src="./images/2007_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2008</h3>
        <img src="./images/2008_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2009</h3>
        <img src="./images/2009_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2010</h3>
        <img src="./images/2010_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2011</h3>
        <img src="./images/2011_Menu.jpeg">
      </div>
       <div>
        <h3>Thanksgiving 2012</h3>
        <img src="./images/2012_Menu.jpeg">
      </div>
       <div>
        <h3>Thanksgiving 2013</h3>
        <img src="./images/2013_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2014</h3>
        <img src="./images/2014_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2015</h3>
        <img src="./images/2015_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2016</h3>
        <img src="./images/2016_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2017</h3>
        <img src="./images/2017_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2018</h3>
        <img src="./images/2018_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2019</h3>
        <img src="./images/2019_Menu.jpeg">
      </div>         
      <div>
        <h3>Thanksgiving 2020</h3>
        <img src="./images/2020_Menu.jpeg">
      </div>      
      <div>
        <h3>Thanksgiving 2021</h3>
        <img src="./images/2021_Menu.jpeg">
      </div>      
      <div>
        <h3>Thanksgiving 2022</h3>
        <img src="./images/2022_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2023</h3>
        <img src="./images/2023_Menu.jpeg">
      </div>
      <div>
        <h3>Thanksgiving 2024</h3>
        <img src="./images/2024_Menu.jpeg">
      </div>
    </div>

    <footer class="footer">
      <h3 class="footer_title">
        Crafted by Chowderhead 2025
      </h3>
    </footer>
  </body>
</html>